import pandas as pd

In [13]:
#!pip install pyarrow
tripdata_jan = pd.read_parquet('yellow_tripdata_2022-01.parquet')
tripdata_feb = pd.read_parquet('yellow_tripdata_2022-02.parquet')

tripdata_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [10]:
# Question 1
tripdata_jan.shape[1]

19

In [20]:
# Question 2
import datetime
tripdata_jan['duration'] = (tripdata_jan['tpep_dropoff_datetime'] - tripdata_jan['tpep_pickup_datetime'])/datetime.timedelta(minutes=1)
tripdata_jan.duration.std()

46.44530513776802

In [38]:
# Question 3
import matplotlib.pyplot as plt

filtered_tripdata_jan = tripdata_jan[(tripdata_jan.duration>=1) & (tripdata_jan.duration<=60)]

print(len(filtered_tripdata_jan)/len(tripdata_jan))

0.9827547930522406

In [98]:
# Question 4
from sklearn.feature_extraction import DictVectorizer

categorical = ['PULocationID', 'DOLocationID']

filtered_tripdata_jan[categorical] = filtered_tripdata_jan[categorical].astype(str)
train_dicts = filtered_tripdata_jan[categorical].to_dict(orient='records')

dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)
X_train.shape

/home/rober/.local/lib/python3.7/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

(2421440, 515)

In [56]:
# Question 5
from sklearn.linear_model import LinearRegression

y_train = filtered_tripdata_jan['duration'].values

lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [58]:
from sklearn.metrics import mean_squared_error
mean_squared_error(lr.predict(X_train),y_train, squared = False)

6.98619013596008

In [100]:
# Question 6
tripdata_feb['duration'] = (tripdata_feb['tpep_dropoff_datetime'] - tripdata_feb['tpep_pickup_datetime'])/datetime.timedelta(minutes=1)

filtered_tripdata_feb = tripdata_feb[(tripdata_feb.duration>=1) & (tripdata_feb.duration<=60)]

categorical = ['PULocationID', 'DOLocationID']
filtered_tripdata_feb[categorical] = filtered_tripdata_feb[categorical].astype(str)

val_dicts = filtered_tripdata_feb[categorical].to_dict(orient='records')

X_val = dv.transform(val_dicts)
print(X_val.shape)

y_val = filtered_tripdata_feb['duration'].values

mean_squared_error(lr.predict(X_val),y_val, squared = False)

/home/rober/.local/lib/python3.7/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

(2918187, 515)

7.786389508917731

In [5]:
if 3 > 2 and 4 < 5:
    print('hi')
else:
    print('not hi')
    
if (3 > 2) and (4 < 5):
    print('hi')
else:
    print('not hi')

hi
hi

In [ ]:
2 a